  <%= render 'shared/book_search', query: @query, option: @option %>
<table class="table-auto w-full sm:w-5/6 mx-auto text-sm text-left mt-5 text-gray-500 ">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
    <tr>
      <th scope="col" class="px-3 py-3 text-center">
        Sr No.
      </th>
      <th scope="col" class="px-6 py-3">
        Book Name
      </th>
      <th scope="col" class="px-6 py-3 ">
        Author
      </th>
      <th scope="col" class="px-6 py-3 ">
        Genre
      </th>
      <th scope="col" class="px-6 py-3 text-center">
        Published Year
      </th>
      <th scope="col" class="px-6 py-3">
        <span class="sr-only">Edit</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @books.each_with_index do |book,index| %>
      <tr onclick="window.location='/admin/books/<%= book.id %>';" class="cursor-pointer hover:bg-sky-100 bg-white border-b">
        <td  class="px-3 py-4 font-medium text-gray-900 whitespace-nowrap text-center"><%=index+1%></td>
        <td class="px-6 py-4"><%=book.name%></td>
        <td class="px-6 py-4"><%=book.author%></td>
        <td class="px-6 py-4 "><%=book.genre%></td>
        <td class="px-6 py-4 text-center"><%=book.published_on.strftime("%Y")%></td>
        <td class="text-right" onclick="event.stopPropagation()">
          <a href="/admin/books/<%=book.id%>/edit" class="font-medium text-blue-600 hover:underline px-4 py-4 " >Edit</a>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
<div class="mt-5 w-full sm:w-5/6 mx-auto">
  <%= will_paginate @books,inner_window: 1, outer_window: 0%>
  <div>