<form class="grid grid-cols-3 gap-4" action="/users" accept-charset="UTF-8" method = "post">
  <div class="mb-4 col-span-3">
    <label for="user[username]" class="block mb-2 text-sm font-medium text-gray-900 ">Username</label>
    <input type="text" name="user[username]" value="<%=@user.username%>" id="user[username]" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="username" />
    <% if @user.errors.has_key?(:username) %>
      <p class="text-red-500 text-sm mt-1"><%= @user.errors[:username].first %></p>
    <% end %>
  </div>
  <div class="mb-4 col-span-3">
    <label for="user[email]" class="block mb-2 text-sm font-medium text-gray-900 ">Email address</label>
    <input type="email" id="user[email]" value="<%=@user.email%>" name="user[email]" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="example@company.com" />
    <% if @user.errors.has_key?(:email) %>
      <p class="text-red-500 text-sm mt-1"><%= @user.errors[:email].first %></p>
    <% end %>
  </div>
  <div class="mb-4 col-span-3">
    <label for="role" class="block mb-2 text-sm font-medium text-gray-900 ">Role</label>
    <select id="role" name="user[role]" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
      <%@roles.each do |role|%>
        <%if role == @user.role%>
          <option value="<%=role%>" selected><%=role%></option>
        <%else%>
          <option value="<%=role%>"><%=role%></option>
        <%end%>
      <%end%>
    </select>
    <% if @user.errors.has_key?(:role) %>
      <p class="text-red-500 text-sm mt-1"><%= @user.errors[:role].first %></p>
    <% end %>
  </div>
  <div class="mb-4 col-span-3">
    <label for="user[password]" class="block mb-2 text-sm font-medium text-gray-900 ">Password</label>
    <input type="password" id="user[password]" name="user[password]" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="password" />
    <% if @user.errors.has_key?(:password) %>
      <p class="text-red-500 text-sm mt-1"><%= @user.errors[:password].first %></p>
    <% end %>
  </div>
  <div class="mb-4 col-span-3">
    <label for="user[password_confirmation]" class="block mb-2 text-sm font-medium text-gray-900 ">Confirm password</label>
    <input type="password" id="user[password_confirmation]" name="user[password_confirmation]" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="password confirmation" />
    <% if @user.errors.has_key?(:password_confirmation) %>
      <p class="text-red-500 text-sm mt-1"><%= @user.errors[:password_confirmation].first %></p>
    <% end %>
  </div>
  <div class="flex items-start mb-4 col-span-3">
    <div class="flex items-center h-5">
      <input id="remember" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300" />
    </div>
    <label for="remember" class="ms-2 text-sm font-medium text-blue-600 hover:pointer">Remember me</label>
  </div>
  <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>
</form>
