<div class="px-4 sm:px-0 w-full">
  <h3 class="text-base font-semibold leading-7 text-gray-900">Book Information</h3>
  <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">Book id: <%=@book.id%> </p>
</div>
<div class="mt-6 border-t border-gray-100">
  <dl class="divide-y divide-gray-100">
    <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
      <dt class="text-sm font-medium leading-6 text-gray-900">Book name</dt>
      <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%=@book.name%> </dd>
    </div>
    <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
      <dt class="text-sm font-medium leading-6 text-gray-900">Author</dt>
      <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%=@book.author%></dd>
    </div>
    <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
      <dt class="text-sm font-medium leading-6 text-gray-900">Published on</dt>
      <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%=@book.published_on%> </dd>
    </div>
    <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
      <dt class="text-sm font-medium leading-6 text-gray-900">Genre</dt>
      <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%=@book.genre%></dd>
    </div>
    <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
      <dt class="text-sm font-medium leading-6 text-gray-900">About</dt>
      <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%=@book.about%></dd>
    </div>
    <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
      <dt class="text-sm font-medium leading-6 text-gray-900">Availability</dt>
      <%if @book_not_there==true%>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">Available By: <%=@book_copies[0].return_by%></dd>
      <%else%>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">Available</dd>
      <%end%>
    </div>
    <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
      <dt class="text-sm font-medium leading-6 text-gray-900">Book Locations</dt>
      <dd class="mt-2 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
        <ul role="list" class="divide-y divide-gray-100 rounded-md border border-gray-200">
          <li class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6">
            <div class="flex w-0 flex-1 items-center">
              <table class="table-auto w-full mx-auto text-sm text-left text-gray-500 ">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
                  <tr>
                    <th scope="col" class="px-3 py-3 text-center">
                      Sr.no.
                    </th>
                    <th scope="col" class="px-3 py-3 text-center">
                      Room
                    </th>
                    <th scope="col" class="px-3 py-3 text-center">
                      Section
                    </th>
                    <th scope="col" class="px-3 py-3 text-center">
                      Rack
                    </th>
                    <th scope="col" class="px-3 py-3 text-center">
                      Shelf
                    </th>
                    <th scope="col" class="px-2 py-3">
                      <span class="sr-only">Status</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% @book_copies.each_with_index do |copy, index| %>
                    <tr class=" bg-white border-b ">
                      <td  class="px-3 py-4 font-medium text-gray-900 whitespace-nowrap text-center"><%=index+1%></td>
                      <td class="px-3 py-4 text-center"><%=copy.shelf.racker.section.room.name%></td>
                      <td class="px-3 py-4 text-center"><%=copy.shelf.racker.section.name%></td>
                      <td class="px-3 py-4 text-center"><%=copy.shelf.racker.name%></td>
                      <td class="px-3 py-4 text-center"><%= copy.shelf.name%></td>
                      <%if copy.availability == false%>
                        <td class="px-2 py-4 bg-red-600"></td>
                      <%else%>
                        <td class="px-2 py-4 bg-green-600"></td>
                      <%end%>
                    </tr>
                  <%end%>
                </tbody>
              </table>
            </div>
          </li>
        </ul>
      </dd>
    </div>
  </dl>
</div>
<!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com -->
